/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ol ol,
ol ul,
ul,
ul ol,
ul ul {
  padding: 0 0;
}

.poker-card {
  height: 57px;
  display: inline-block;
  background: #fff;
  width: 40px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px #000;
  font-size: 20px;
  padding: 15px 0 0 6px;
  color: #000;
  margin-bottom: 7px;
}

.mini {
  display: inline-block;
  border-radius: 2px;
  padding: 4px;
  font-size: 12px;
  width: 28px;
  height: 26px;
  border: 1px solid #000;
  box-shadow: 1px 1px 2px 0;
}

.hidden {
  display: none;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #6b47b8;
}

button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

/* card styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  overflow-y: scroll;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}

.compose button {
  font-size: 14px;
}

#join-game {
  margin-right: 5px;
}

.game-joined {
  background-color: #5da557 !important;
}

/* card Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users,
.gamerooms {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}

.users li,
.gamerooms li {
  padding: 10px;
  word-break: break-all;
}

ul.gameroom-inner-list {
  background-color: #454b5d;
}

ul.gameroom-inner-list i {
  margin-right: 5px;
}

ul.gameroom-inner-list li {
  list-style: none;
}

ul.gameroom-inner-list li:not(:last-child) {
  border-bottom: 1px solid #333744;
}

ul.gameroom-inner-list > li li {
  background: #6f4eb5 !important;
  border-radius: 3px;
  height: 35px;
  padding: 5px;
  text-align: center;
}

/* Game lobby styles */
#game-room > div {
  max-width: 90%;
}

/* Poker cards */
#cards {
  display: flex;
}

#cards > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 50px;
  perspective: 1000px;
}

#room-table {
  display: block;
  margin: 0 auto;
  width: max-content;
}

.card {
  display: block;
  width: 100px;
  height: 125px;
  padding: 2px;
  margin: 12px;
  position: relative;
  font-family: monospace;
  cursor: pointer;
  border: none !important;
}

.card-front,
.card-back {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px silver);
  border-radius: 11px;
  border: 1px solid rgba(0,0,0,.125);
  backface-visibility: hidden;
  transition: all 0.5s;
}

.card-back {
  border: 6px solid #fff;
  background: conic-gradient(
    #000 25%,
    #fff 25%,
    #fff 50%,
    #000 50%,
    #000 75%,
    #fff 75%
  );
  background-size: 20px 20px;
  transform: rotateY(-180deg);
}

.card-♠,
.card-♣ {
  color: #000;
}

.card-♥,
.card-♦ {
  color: red;
}

.main {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0deg);
}

/* Card faces (A) */
.card[number="A"] .symbols > div:only-child {
  left: 40px;
}

/* Cards faces (K, J, Q) */
.card[number="J"] > .card-front,
.card[number="Q"] > .card-front,
.card[number="K"] > .card-front {
  background: url(../images/card-fronts.png) no-repeat;
  background-size: 258px;
}

/* Bg Card positioning */
.card[number="J"]  > .card-front {
  background-position-x: 5px;
}

.card[number="Q"]  > .card-front {
  background-position-x: -80px;
}

.card[number="K"]  > .card-front {
  background-position-x: -164px;
}

/* Bg vertical positioning*/
.card.card-♥  > .card-front {
  background-position-y: -125px;
}

.card.card-♦  > .card-front {
  background-position-y: -248px;
}

.card.card-♣  > .card-front {
  background-position-y: -372px;
}

/* Card faces (numbers) */
/* (2) */
.card[number="2"] .symbols > div:first-child {
  left: 40px;
  top: -25px;
}

.card[number="2"] .symbols > div:last-child {
  left: 40px;
  top: 25px;
  transform: rotate(180deg);
}

/* (3) */
.card[number="3"] .symbols > div:first-child {
  left: 40px;
  top: -25px;
}

.card[number="3"] .symbols > div:nth-child(2) {
  left: 40px;
}

.card[number="3"] .symbols > div:last-child {
  left: 40px;
  top: 25px;
  transform: rotate(180deg);
}

/* (4) */
.card[number="4"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="4"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="4"] .symbols > div:nth-child(3) {
  left: 23px;
  top: 24px;
  transform: rotate(180deg);
}

.card[number="4"] .symbols > div:last-child {
  left: 62px;
  top: 24px;
  transform: rotate(180deg);
}

/* (5) */
.card[number="5"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="5"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="5"] .symbols > div:nth-child(3) {
  left: 43px;
  top: 2px;
}

.card[number="5"] .symbols > div:nth-child(4) {
  left: 23px;
  top: 24px;
  transform: rotate(180deg);
}

.card[number="5"] .symbols > div:last-child {
  left: 62px;
  top: 24px;
  transform: rotate(180deg);
}

/* (6) */
.card[number="6"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="6"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="6"] .symbols > div:nth-child(3) {
  left: 24px;
  top: 2px;
}

.card[number="6"] .symbols > div:nth-child(4) {
  left: 62px;
  top: 2px;
}

.card[number="6"] .symbols > div:nth-child(5) {
  left: 23px;
  top: 24px;
  transform: rotate(180deg);
}

.card[number="6"] .symbols > div:last-child {
  left: 62px;
  top: 24px;
  transform: rotate(180deg);
}

/* (7) */
.card[number="7"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="7"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="7"] .symbols > div:nth-child(3) {
  left: 24px;
  top: 2px;
  transform: rotate(180deg);
}

.card[number="7"] .symbols > div:nth-child(4) {
  left: 62px;
  top: 2px;
  transform: rotate(180deg);
}

.card[number="7"] .symbols > div:nth-child(5) {
  left: 23px;
  top: 24px;
  transform: rotate(180deg);
}

.card[number="7"] .symbols > div:nth-child(6) {
  left: 42px;
  top: 17px;
  font-size: .9em;
  transform: rotate(180deg);
}

.card[number="7"] .symbols > div:last-child {
  left: 62px;
  top: 24px;
  transform: rotate(180deg);
}

/* (8) */
.card[number="8"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="8"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="8"] .symbols > div:nth-child(3) {
  left: 24px;
  top: -6px;
}

.card[number="8"] .symbols > div:nth-child(4) {
  left: 62px;
  top: -6px;
}

.card[number="8"] .symbols > div:nth-child(5) {
  left: 23px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="8"] .symbols > div:nth-child(6) {
  left: 62px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="8"] .symbols > div:nth-child(7) {
  left: 23px;
  top: 26px;
  transform: rotate(180deg);
}

.card[number="8"] .symbols > div:last-child {
  left: 62px;
  top: 26px;
  transform: rotate(180deg);
}

/* (9) */
.card[number="9"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="9"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="9"] .symbols > div:nth-child(3) {
  left: 24px;
  top: -6px;
}

.card[number="9"] .symbols > div:nth-child(4) {
  left: 62px;
  top: -6px;
}

.card[number="9"] .symbols > div:nth-child(5) {
  left: 23px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="9"] .symbols > div:nth-child(6) {
  left: 62px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="9"] .symbols > div:nth-child(7) {
  left: 42px;
  top: 1px;
}

.card[number="9"] .symbols > div:nth-child(8) {
  left: 23px;
  top: 26px;
  transform: rotate(180deg);
}

.card[number="9"] .symbols > div:last-child {
  left: 62px;
  top: 26px;
  transform: rotate(180deg);
}

/* (10) */
.card[number="10"] .symbols > div:first-child {
  left: 23px;
  top: -24px;
}

.card[number="10"] .symbols > div:nth-child(2) {
  left: 62px;
  top: -24px;
}

.card[number="10"] .symbols > div:nth-child(3) {
  left: 24px;
  top: -6px;
}

.card[number="10"] .symbols > div:nth-child(4) {
  left: 62px;
  top: -6px;
}

.card[number="10"] .symbols > div:nth-child(5) {
  left: 42px;
  top: -16px;
}

.card[number="10"] .symbols > div:nth-child(6) {
  left: 23px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="10"] .symbols > div:nth-child(7) {
  left: 62px;
  top: 9px;
  transform: rotate(180deg);
}

.card[number="10"] .symbols > div:nth-child(8) {
  left: 23px;
  top: 26px;
  transform: rotate(180deg);
}

.card[number="10"] .symbols > div:nth-child(9) {
  left: 42px;
  top: 18px;
  transform: rotate(180deg);
}

.card[number="10"] .symbols > div:last-child {
  left: 62px;
  top: 26px;
  transform: rotate(180deg);
}

.card-corner.bottom-right {
  position: relative;
  top: 26px;
}

.card-corner.bottom-right > div {
  transform: rotate(180deg);
}

.symbols {
  position: relative;
}

.symbols div {
  position: absolute;
}